<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h4><strong> Buy 5 KG Cylinder </strong></h4>
			<p class="buy-5kg">Government has allowed the sale of 5 Kg LPG cylinder with / without Domestic Pressure Regulator (DPR) through Public Sector Oil Marketing companies (OMCs) Retail outlets, which are accessible to all and are open for longer hours. Subsequently sale of 5 Kg FTL cylinder has been extended to LPG distributorship points and Kirana /General stores etc also to further convenience of the target consumers.</p>
			<p class="buy-5kg"> The LPG sold under the scheme will be called Free Trade LPG (FTL). At the time of first sale cost of equipment (DPR plus cylinder), cost of product at prevailing Non-domestic 5 Kg cylinder price and administrative charges will be payable. At the time of subsequent refill, only the cost of product will be payable.</p>
			<p class="buy-5kg"> Click here to know the citywise applicable charges. </p>

			<h4 class="text-center"> <strong>List of Retail outlets Selling 5 KG cylinder (FTL)</strong> </h4>
			<table class="simple_table table" width="90%" cellspacing="0" cellpadding="3">
	        <tbody>
	            <tr>
	                <th>
	                    Sr No
	                </th>
	                <th>
	                    City
	                </th>
	                <th>
	                    Name &amp; Address of Retail Outlet
	                </th>
	                <th>
	                    Name of Distributor attached to R.O.
	                </th>
	            </tr>
	            <tr>
	                <td>
	                    1
	                </td>
	                <td>
	                    Banglore
	                </td>
	                <td>
	                    HBR COMCO, BDA Complex Road, HBR Layout, Banglore
	                </td>
	                <td>
	                    M/s Danish Gas Enterprises, Kalyannagar
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    2
	                </td>
	                <td>
	                    Chennai
	                </td>
	                <td>
	                    M/s COMCO, Madhavaram
	                </td>
	                <td>
	                    M/s Sakthi HPGas Agency, Kodunguiyur
	                </td>
	            </tr>
	            <tr>
	                <td rowspan="4">
	                    3
	                </td>
	                <td rowspan="4">
	                    Delhi
	                </td>
	                <td>
	                    HPCL COCO Retail Outlet, Moti Nagar, Near Kirti Nagar Metro Stn., Delhi
	                </td>
	                <td>
	                    Noble Traders
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Narayan Filling Station, Khyber Pass, Mall Road, Civil Lines, Delhi
	                </td>
	                <td>
	                    Emarsons
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Bhai Oil , Bhogal, Near Nizamuddin Rly. Stn., Delhi
	                </td>
	                <td>
	                    Gujarat Agencies
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Batra Filling Stn., South Extn, Delhi
	                </td>
	                <td>
	                    Smart Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td rowspan="2">
	                    4
	                </td>
	                <td rowspan="2">
	                    Kolkata
	                </td>
	                <td>
	                    T &amp; E Station, 208/1 A, A J C Bose road, Kolkata-17
	                </td>
	                <td>
	                    M/s. R S Sharma HP Gas &amp; Co., Ballygaunge, Kolkata
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    COCO station, Akanksha More, Rajarhat, Kolkata- 135
	                </td>
	                <td>
	                    M/s. Kanchan Flame, Baguiati, Kolkata-59
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    5
	                </td>
	                <td>
	                    Hyderabad
	                </td>
	                <td>
	                    COCO NSIC, Kushaiguda, Near Radhika Theater, ECIL X Road, Hyderabad
	                </td>
	                <td>
	                    Shri Venkateswara Gas Agency, Kushaiguda
	                </td>
	            </tr>
	            <tr>
	                <td rowspan="4">
	                    6
	                </td>
	                <td rowspan="4">
	                    Mumbai
	                </td>
	                <td>
	                    Auto Care Centre, Ville Parle (W)
	                </td>
	                <td>
	                    M/s Rashmi Gas Service, Ville Parle (W)
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Maharashtra Dhanya Bhandar, Powai (Kirana Shop)
	                </td>
	                <td rowspan="3">
	                    Maharashtra Gas Depot
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Powai Grain Store, Powai (Kirana Shop)
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Chawda Grain Store, Powai (Kirana Shop)
	                </td>
	            </tr>
	            <tr>
	                <td rowspan="5">
	                    7
	                </td>
	                <td rowspan="5">
	                    Jaipur
	                </td>
	                <td rowspan="5">
	                    Point of Sale same as HP Gas Distibutor mentioned alongwith
	                </td>
	                <td>
	                    Anand Gas Service
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Shravani HP Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Mahalaxmi Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    K S Enterprise
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Shashi Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td rowspan="3">
	                    8
	                </td>
	                <td rowspan="3">
	                    Raipur
	                </td>
	                <td rowspan="3">
	                    Point of Sale same as HP Gas Distibutor mentioned alongwith
	                </td>
	                <td>
	                    Parvesh HP Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Rajendra HP Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    Sai Chandra HP Gas Agency
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    9
	                </td>
	                <td>
	                    Ludhiana
	                </td>
	                <td>
	                    Point of Sale same as HP Gas Distibutor mentioned alongwith
	                </td>
	                <td>
	                    Alpine Energy
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    10
	                </td>
	                <td>
	                    Ananthapur (A.P.)
	                </td>
	                <td>
	                    Point of Sale same as HP Gas Distibutor mentioned alongwith
	                </td>
	                <td>
	                    Mallikarjuna HP Gas Agency
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    </div>
	</div>
</div>